html {
    background: #fff;
}

body {
    font-family: "Courier New", Courier, sans-serif;
    font-size: 16px;
    width: 80%;
    padding: 2em 2em;
    display:inline-block;
}

nav {
    background-color: #fff; 
    text-align: center;
    margin: 0;
    padding: 0;
    float:right;
}

nav li {
    display: inline-block;
    margin: 100 auto;
    color: #051e31;
    font-size: 16px;
    padding: 16px;
}
nav a {
    color: #032036;
    text-decoration:none;
}

nav a:hover {
    color: #ccc90c; 
}

/*class*/
.video {
    display: inline-block;
}

/*id*/
#bilder { /* ul, enthält Bilder und Begleittext */
  width: 100%;
  list-style: none;
  padding: 4em 4em;
  display: flex; /* Achsen Layout*/
  justify-content: space-evenly; /* Auf Achse verteilen */
}

#container {
width: 100%;
}

#big {
    font-size: 80px;
    line-height: 1.5;
    margin: auto;
    max-width: 100%;
    align-content: center;
}
#universe {
    display: 20;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
}